In [3]:
happy = True
print("Happy variable is set to",happy)

Happy variable is set to True

In [4]:
print(5 + 5 == 10)
print('apple' != 'orange')
print(100 > 75)
print(93 < 80)
print(3 in [1,2,3,4,5])
print(3 not in [1,2,3,4,5])

True
True
True
False
True
False

In [5]:
print((5 + 5 == 10) & ('apple' != 'orange'))
print((5 + 5 == 10) AND ('apple' != 'orange'))

SyntaxError: invalid syntax (<ipython-input-5-f747086de549>, line 2)

In [7]:
print((5 + 5 == 10) & ('apple' != 'orange'))
print((100 > 75) & (93 < 80))
print((100 > 75) | (93 < 80))
print((93 < 80) | (3 not in [1,2,3,4,5]))

True
False
True
False

In [15]:
number = 100
 
if number < 10:
    print("Number is less than 10")
elif number > 10:
    print("Number is greater than 10")
elif number == 10:
    print("Number is exactly 10")
else:
    print("Number is probably not a number at all")

Number is greater than 10

In [19]:
commute = 15
rain = True
traffic = False
 
if (rain == True) | (traffic == True):
    if (rain == True) & (traffic == True):
        total_commute = commute + 15 + 20
    elif (rain == True) & (traffic == False):
        total_commute = commute + 15
    elif (rain == False) & (traffic == True):
        total_commute = commute + 20
else:
    total_commute = commute
 
print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 30 minutes.

In [20]:
range(10)

range(0, 10)

In [22]:
range(0, 10)

range(0, 10)

In [24]:
range(0, 10)

range(0, 10)

In [26]:
len(range(5, 15))

10

In [28]:
for i in range(5, 15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [30]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
 
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [32]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
 
for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

In [34]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
 
total = 0
 
for num in num_list:
    total += num
    print("Total is currently", total)

Total is currently 34
Total is currently 46
Total is currently 139
Total is currently 922
Total is currently 1252
Total is currently 2148
Total is currently 2149
Total is currently 2204

In [36]:
new_list = []
 
for x in range(1, 11):
    square = x**2
    new_list.append(square)
 
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
total_time = 300
minutes_elapsed = 0
wait = 15
 
print("Cake is in the oven.")
minutes_elapsed += wait
 
while minutes_elapsed < total_time:
    print("Cake is not done yet.")
    minutes_elapsed += wait
 
print("It's done. Let's eat cake!")

Cake is in the oven.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
It's done. Let's eat cake!

In [44]:
import os

In [46]:
os.getcwd()

'/Users/amandamac/IronHack'

In [48]:
os.chdir('/Users/amandamac/Desktop')
os.getcwd()

'/Users/amandamac/Desktop'

In [50]:
root = '/'
level_1 = 'ironhack'
level_2 = 'module_0'
level_3 = 'python-beginner'
level_4 = 'data'
 
os.path.join(root, level_1, level_2, level_3, level_4)

'/ironhack/module_0/python-beginner/data'

In [51]:
folder_name = 'new_folder'
 
if os.path.exists(folder_name) == False:
    os.makedirs(folder_name)

In [53]:
os.chdir('/Users/amandamac/IronHack')
os.getcwd()

'/Users/amandamac/IronHack'

In [55]:
folder_name = 'new_folder'
 
if os.path.exists(folder_name) == False:
    os.makedirs(folder_name)

In [58]:
with open("example.txt", "w") as f:
    f.write("Hello World! \n")
    f.write("How are you? \n")
    f.write("I'm fine.")

In [60]:
with open("example.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        print(line)

Hello World!

How are you?

I'm fine.

In [65]:
data = []
 
with open("/Users/amandamac/IronHack/weight_height.csv", "r") as f:
    lines = f.readlines()
    for line in lines:
        data.append(line.split()[0].split(","))

In [68]:
data[0]

['gender',
 'actual_weight',
 'actual_height',
 'reported_weight',
 'reported_height']

In [70]:
data[1][0]

'M'

In [74]:
heights = []
 
for person in data[1:]:
    height = int(person[2])
    heights.append(height)
    avg_height = sum(heights)/len(heights)
print(avg_height)

170.14835164835165

In [75]:
male_heights = []
female_heights = []
 
for person in data[1:]:
    height = int(person[2])
    if person[0] == 'M':
        male_heights.append(height)
    elif person[0] == 'F':
        female_heights.append(height)
 
avg_male_height = sum(male_heights)/len(male_heights)
avg_female_height = sum(female_heights)/len(female_heights)
 
print("Avg male height:", avg_male_height)
print("Avg female height", avg_female_height)

Avg male height: 178.0121951219512
Avg female height 163.7